<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Preprocess Steps</h1>

     <!-- Main Input For Receiving Query to our process flow -->
    <form action="{{ url_for('requirement')}}"method="post">
    	<input type="text" name="stdNormal_req" placeholder="Standardised" required="required" />
        <input type="text" name="pca_req" placeholder="PCA" required="required" />
		<input type="text" name="outlier_req" placeholder="Outlier and Missing Value Treatment" required="required" />
		<input type="text" name="auto_detection_req" placeholder="One hot encoded" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Prepare Data</button>
    </form>

   <br> 
   <br>
   {{ prediction }}

 </div>


</body>
</html>
